@font-face {
	font-family: 'Populaire';
	src: url('fonts/Populaire/Populaire.eot');
	src: url('fonts/Populaire/Populaire.eot?#iefix') format('embedded-opentype'),
		url('fonts/Populaire/Populaire.woff2') format('woff2'),
		url('fonts/Populaire/Populaire.woff') format('woff'),
		url('fonts/Populaire/Populaire.ttf') format('truetype'),
		url('fonts/Populaire/Populaire.svg#Populaire') format('svg');
	font-weight: 500;
	font-style: normal;
}
